# Weights & Biases
WANDB_API_KEY=
WANDB_PROJECT=SingleMerge_MultiGPU
WANDB_MODE=online

# Hugging Face / OpenCLIP cache
HF_ENDPOINT=https://hf-mirror.com
HF_HOME=./cache/hf_home
OPENCLIP_CACHE_DIR=./cache/hf_home
OPENCLIP_PRETRAINED_PATH=

# Optional token for huggingface-cli login script
HF_TOKEN=
